JudgeApplication/JudgeApp/Service References/ServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44815/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44815/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44815/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JudgeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarModels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveJudgement_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveJudgement" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveJudgement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveJudgementResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJudgements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJudgements" />
  </wsdl:message>
  <wsdl:message name="IService1_GetJudgements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJudgementsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetShows" message="tns:IService1_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetShowsResponse" message="tns:IService1_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCars" message="tns:IService1_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarsResponse" message="tns:IService1_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCarModels" message="tns:IService1_GetCarModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarModelsResponse" message="tns:IService1_GetCarModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveJudgement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveJudgement" message="tns:IService1_SaveJudgement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveJudgementResponse" message="tns:IService1_SaveJudgement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJudgements">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetJudgements" message="tns:IService1_GetJudgements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetJudgementsResponse" message="tns:IService1_GetJudgements_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/IService1/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarModels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCarModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJudgement">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveJudgement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJudgements">
      <soap:operation soapAction="http://tempuri.org/IService1/GetJudgements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:44815/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>