JudgeApplication/JudgeApp/Service References/ServiceRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JudgeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JudgeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarType" nillable="true" type="tns:CarType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarType" nillable="true" type="tns:ArrayOfCarType" />
  <xs:complexType name="CarType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CarName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarType" nillable="true" type="tns:CarType" />
  <xs:complexType name="ArrayOfCarModelType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarModelType" nillable="true" type="tns:CarModelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarModelType" nillable="true" type="tns:ArrayOfCarModelType" />
  <xs:complexType name="CarModelType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CarModelID" type="xs:int" />
      <xs:element minOccurs="0" name="CarModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarModelType" nillable="true" type="tns:CarModelType" />
  <xs:complexType name="CarJudgementType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessoriesEngine" type="xs:int" />
      <xs:element minOccurs="0" name="AccessoriesInterior" type="xs:int" />
      <xs:element minOccurs="0" name="AppearanceWheels" type="xs:int" />
      <xs:element minOccurs="0" name="BreaksUCPerformance" type="xs:int" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="CarJudgementID" type="xs:int" />
      <xs:element minOccurs="0" name="CleanlinessEngine" type="xs:int" />
      <xs:element minOccurs="0" name="CleanlinessInterior" type="xs:int" />
      <xs:element minOccurs="0" name="CleanlinessUCDetails" type="xs:int" />
      <xs:element minOccurs="0" name="CleanlinessWheels" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayODetails" type="xs:int" />
      <xs:element minOccurs="0" name="FitNFinishExterior" type="xs:int" />
      <xs:element minOccurs="0" name="ICEICEDetails" type="xs:int" />
      <xs:element minOccurs="0" name="JudgedByJudgedDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JudgedDateJudgedDetails" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModificationsEngine" type="xs:int" />
      <xs:element minOccurs="0" name="OneOfCustomizationsEngine" type="xs:int" />
      <xs:element minOccurs="0" name="OneOfCustomizationsExterior" type="xs:int" />
      <xs:element minOccurs="0" name="OverAllExterior" type="xs:int" />
      <xs:element minOccurs="0" name="OverallAppearanceODetails" type="xs:int" />
      <xs:element minOccurs="0" name="OverallTiers" type="xs:int" />
      <xs:element minOccurs="0" name="PaintApperanceExterior" type="xs:int" />
      <xs:element minOccurs="0" name="PaintCleanlinessExterior" type="xs:int" />
      <xs:element minOccurs="0" name="PaintCompletenessExterior" type="xs:int" />
      <xs:element minOccurs="0" name="PaintOrPowercoatUCDetails" type="xs:int" />
      <xs:element minOccurs="0" name="PaintOriginalityExterior" type="xs:int" />
      <xs:element minOccurs="0" name="QualityOfInstallICEDetails" type="xs:int" />
      <xs:element minOccurs="0" name="SoundICEDetails" type="xs:int" />
      <xs:element minOccurs="0" name="SuspensionUCPerformance" type="xs:int" />
      <xs:element minOccurs="0" name="UniquenessOfInstallation" type="xs:int" />
      <xs:element minOccurs="0" name="UniquenessOfProductExterior" type="xs:int" />
      <xs:element minOccurs="0" name="UniquenessOfProductsEngine" type="xs:int" />
      <xs:element minOccurs="0" name="UniquenessOfProductsICEDetails" type="xs:int" />
      <xs:element minOccurs="0" name="UniquenessOfProductsInterior" type="xs:int" />
      <xs:element minOccurs="0" name="UniquenessOfProductsWheels" type="xs:int" />
      <xs:element minOccurs="0" name="UpholsteryInterior" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarJudgementType" nillable="true" type="tns:CarJudgementType" />
</xs:schema>