JudgeApplication/JudgeApp/Service References/ServiceRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JudgeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JudgeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarType" nillable="true" type="tns:CarType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarType" nillable="true" type="tns:ArrayOfCarType" />
  <xs:complexType name="CarType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CarName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarType" nillable="true" type="tns:CarType" />
  <xs:complexType name="ArrayOfCarModelType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarModelType" nillable="true" type="tns:CarModelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarModelType" nillable="true" type="tns:ArrayOfCarModelType" />
  <xs:complexType name="CarModelType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CarModelID" type="xs:int" />
      <xs:element minOccurs="0" name="CarModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarModelType" nillable="true" type="tns:CarModelType" />
</xs:schema>